{% set page_title = 'Centrála' %}
{% include 'sections/header.html' %}

<section id="main" class="topmost">

    <div class="content-left">
      <div class="contL">
          <h2>Odtud se nitky rozbíhají</h2>
          <p>Brněnská centrála je srdcem i mozkem celé společnosti OKAY. Sídlí zde nejen vedení, ale také obchodní, finanční, zákaznické, IT či technické oddělení, marketing, kreativa, logistika a další. Odtud se rozbíhají nitky sítě prodejen OKAY v ČR a SR i jedničky a nuly našeho e-shopu. Co se na centrále upeče, to se odrazí ve fungování celé firmy – to víme všichni, od dobrých duší v recepci až po Jindřicha v nejvyšším patře.</p>

        <div class="smctabtn">
            <a href="#contactForm">Přidejte se k nám!</a>
        </div>
      </div>
      <img class="contentimg" src="{{ url_for('static', filename='images/odtud-se-nitky-rozbihaji.png') }}">
    </div>


    <div class="content-right">
      <div class="contR">
        <h2>Jsme na jedné lodi</h2>
        <p>Všichni zaměstnanci brněnské centrály OKAY – a je nás víc než 150 – jsme na jedné lodi plující směrem ke spokojenosti zákazníků. Všichni jdeme za stejným cílem a všichni ze sebe vydáváme to nejlepší. A všichni si tykáme. Díky tomu je hierarchie firmy rozložená spíše plošně a každý má prostor pro vlastní invenci a rozvoj. V rámci jednotlivých oddělení spolu komunikujeme přátelsky a mnoho z toho, co děláme, je založeno na dobrých vztazích s kolegy, vstřícnosti, ohleduplnosti a pochopení.</p>
      </div>
      <img class="contentimg"  src="{{ url_for('static', filename='images/jsme-na-jedne-lodi.png') }}">
    </div>

    <div class="content-left">
      <div class="contL">
        <h2>Na co se těšit?</h2>
        <p>Centrála OKAY na Kšírově ulici poskytuje zaměstnancům vše potřebné k tomu, aby mohli nerušeně pracovat a navíc i celou řadu benefitů. Tím největším je nadstandardní prostor pro parkování hned u budovy, výhodou je jistě i dobrá dostupnost MHD a díky umístění také snadný a rychlý exit z města.</p>
        <p>V přízemí budovy máme možnost koupit si čerstvou snídani, malý oběd či základní potraviny, samozřejmostí je i káva zdarma. Každé patro pak nabízí prostor pro rychlou přípravu jídla i příjemné poobědvání s kolegy v rámci přestávky na odpočinek. Několikrát do roka je pro všechny zaměstnance připraven bonusový Pizza Day, pravidelně se setkáváme na vánočním večírku a v lednu se těšíme na oblíbenou tombolu s věcnými výhrami.</p>
      </div>
      <img class="contentimg" src="{{ url_for('static', filename='images/na-co-se-tesit.png') }}">
    </div>

</section>

<section id="videoFrame">
  <div class="videoContainer">
    <iframe class="video" src="https://www.youtube.com/embed/_5bE-YUpXEs" allowfullscreen></iframe>

  </div>
</section>

{% include 'sections/contact-form.html' %}
{% include 'sections/menu.html' %}
{% include 'sections/footer.html' %}