{% if context == "centrala" %}
    {% set page_title = loc.pages.centrala[lang] %}
{% elif context == "prodejny" %}
    {% set page_title = loc.pages.prodejny[lang] %}
{% elif context == "sklady" %}
    {% set page_title = loc.pages.sklady[lang] %}
{% else %}
    {% set page_title = loc.pages.index[lang] %}
{% endif %}

{% include 'sections/header.html' %}
{% include 'sections/alert.html' %}
{% include 'snippets/admin-menu.html' %}

<section id="main" class="topmost">

    {% include "sections/sections.html" %}

</section>

{% if video %}
    {% include "sections/video.html" %}
{% endif %}

{% if current_user.is_authenticated %}
    <div class="has-top-padding">
        <div class="admin">
            {% if video %}
                <a href="{{ url_for('add_video', context=context) }}">Změnit video</a>
                <a href="{{ url_for('delete_video', video_id=video.id) }}">Smazat video</a>
            {% else %}
                <a href="{{ url_for('add_video', context=context) }}">Nahrát video</a>
            {% endif %}
        </div>
    </div>
{% endif %}

{% include 'sections/contact-form.html' %}
{% include 'sections/menu.html' %}
{% include 'sections/footer.html' %}