{% set page_title = 'Prodejny' %}
{% include 'sections/header.html' %}

    <section id="main" class="topmost">

        <div class="content-left">
          <div class="contL">
              <h2>Máme více než 140 prodejen</h2>
              <p>Rozsáhlá síť prodejen OKAY patří v České republice i na Slovensku k těm nejviditelnějším. Máme provozovny v každém větším městě, takže jsme svým zákazníkům opravdu nablízku, známe jejich potřeby a jsme schopni jim vyjít jim maximálně vstříc. Naše filozofie se promítá i do nabídky elektra a nábytku na prodejnách: vystavujeme to nejžádanější zboží, které bylo podrobeno důkladnému výběru našich expertů z nákupního oddělení. Cílem všech našich prodejen je, aby zákazník nikdy neodešel s prázdnou.</p>

            <div class="smctabtn">
                <a href="#contactForm">Přidejte se k nám!</a>
            </div>
          </div>
          <img class="contentimg" src="{{ url_for('static', filename='images/mame-vice-nez-140-prodejen.png') }}">
        </div>


        <div class="content-right">
          <div class="contR">
            <h2>Zaměstnáváme odborníky</h2>
            <p>Všechny naše prodejny fungují jako franšízy a za jejich chod je přímo zodpovědný vždy konkrétní manažer prodejny. V OKAY dbáme na to, aby byl každý člen týmu elektro a nábytkových prodejen odborně proškolen. Jen tak může poradit zákazníkům s výběrem, navrhnout alternativní výrobky a nabídnout doplňkové služby. Každá z prodejen je navíc pozitivně motivována k tomu, aby byla tou nejlepší.</p>
          </div>
          <img class="contentimg"  src="{{ url_for('static', filename='images/zamestnavame-odborniky.png') }}">
        </div>

        <div class="content-left">
          <div class="contL">
            <h2>Staňte se OKAY expertem</h2>
            <p>V prodejnách OKAY pracují odborníci, kteří jsou vždy připraveni najít pro zákazníka to nejvhodnější řešení, poradit mu s výběrem jakéhokoliv sortimentu, od americké lednice přes chytré televizory až po tu nejmenší baterii, zodpovědět veškeré dotazy a doporučit mu i vhodnou dopravu a další servis. Jsou dokonalými experty ve svém oboru, protože skvěle rozumí elektru, vyznají se v nábytkových trendech a do podrobností znají portfolio našich služeb. Jsou poháněni nejen přirozenou touhou pomáhat, ale také nadstandardním finančním ohodnocením a výkonnostními bonusy. Přidejte se k nim.</p>
          </div>
          <img class="contentimg" src="{{ url_for('static', filename='images/stante-se-okay-expertem.png') }}">
        </div>

    </section>
<!--
    <section id="videoFrame">
      <div class="videoContainer">
        <iframe class="video" src="https://www.youtube.com/embed/_5bE-YUpXEs" allowfullscreen></iframe>

      </div>
    </section>
-->

{% include 'sections/contact-form.html' %}
{% include 'sections/menu.html' %}
{% include 'sections/footer.html' %}