{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section id="main" class="container">
    
    <h3>Administrátoři</h3>

    <table class="table">
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td class="text-right"><a href="#">Zaslat nové heslo</a></td>
                <td class="text-right">
                    {% if user.active == True %}
                        <span class="text-success"><strong>Aktivní</strong></span>
                    {% else %}
                        <span class="text-danger"><strong>Neaktivní</strong></span>
                    {% endif %}
                    {% if user.id != 1 %}
                        <a style="margin-left: 5px;" href="{{ url_for('switch', user_id=user.id) }}">Změnit</a>
                    {% else %}
                        <span style="margin-left: 5px; color: lightgray;">Změnit</span>
                    {% endif %}
                </td>
                {% if current_user.id == 1 %}
                    <td class="text-right">
                        <a href="{{ url_for('del_user', user_id=user.id) }}" title="Smazat">&#10060;</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-success" href="{{ url_for('index') }}">Zpět</a>
    <a class="btn btn-default" href="{{ url_for('register') }}">Přidat administrátora</a>

</section>
{% endblock %}