{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section id="main" class="container">
    
    <h3>{{ title }}</h3>

    <p>&nbsp;</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red; font-weight: bold;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body_cs') }}
    {{ ckeditor.config(name='body_sk') }}
    {{ wtf.quick_form(form, novalidate=True)}}
    
</section>
{% endblock %}