<div id="upbutton">
    <div class="arrowUp"></div>
</div>

<script>
    let upbutton = document.getElementById("upbutton");

    window.onscroll = () => {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        upbutton.style.display = "inline-flex";
      } else {
        upbutton.style.display = "none";
      }
    };
    
    upbutton.addEventListener("click", () => {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
</script>