{% set context = "index" %}
{% extends 'base.html' %}

{% block title %}
{{ loc.pages[context][lang]}}
{% endblock %}

{% block content %}

<header>
    <div class="header">
        <img id="headerimg" src="http://img.okay.cz/db/wysiwyg/Newslettery/2144/headimg.png">
        <video autoplay muted id="headervid" poster="http://img.okay.cz/db/wysiwyg/Newslettery/2144/headimg.png">
            <source src="http://img.okay.cz/db/wysiwyg/Newslettery/2144/video.mp4" type="video/mp4">
            <img src="http://img.okay.cz/db/wysiwyg/Newslettery/2144/headimg.png">
        </video>

        <div class="ctabutton">
            <a href="#menu">{{ loc.buttons.main_cta[lang] }}</a>
        </div>
    </div>
</header>

<script>
    let video = document.getElementById("headervid");
    let image = document.getElementById("headerimg");

    video.addEventListener("ended", () => {
    video.style.display = "none";
    image.style.display = "block";
    });
</script>

{% include 'sections/menu.html' %}

<section id="main">
    {% include "sections/sections.html" %}
</section>

{% include 'sections/contacts.html' %}

{% endblock %}