{% extends 'base.html' %}

{% block title %}
{{ loc.pages[context][lang] }}
{% endblock %}

{% block content %}

<section id="main" class="topmost">
    {% include "sections/sections.html" %}
</section>

{% if video %}
    {% include "sections/video.html" %}
{% endif %}

{% if current_user.is_authenticated %}
    <div class="has-top-padding">
        <div class="admin">
            {% if video %}
                <a href="{{ url_for('add_video', context=context) }}">Změnit video</a>
                <a href="{{ url_for('delete_video', video_id=video.id) }}">Smazat video</a>
            {% else %}
                <a href="{{ url_for('add_video', context=context) }}">Nahrát video</a>
            {% endif %}
        </div>
    </div>
{% endif %}

{% include 'sections/contact-form.html' %}
{% include 'sections/menu.html' %}

{% endblock %}