<div class="content-left">
    <div class="contL">
        <h2>
            {{ section["title_" + lang] }}
        </h2>
        {{ section["body_" + lang] | safe }}

        {% if section.context != "index" %}
            {% if loop.index == 1 %}
                <div class="smctabtn">
                    <a href="#contactForm">{{ loc.buttons.secondary_cta[lang] }}</a>
                </div>
            {% endif %}
        {% endif %}

    </div>
    <img class="contentimg" src="{{ url_for('static', filename=section.image_url) }}">
</div>