<section id="contacts">

    <div class="persona">
      <img src="{{ url_for('static', filename='images/sedajova.jpg') }}">
      <div class="personainfo">
        <div class="personaname">
          <h3>HANA ŠEDAJOVÁ</h3>
          <p>Personální ředitelka</p>
        </div>
        <div class="personacont">
          <ul>
            <li>&phone; +420 724 661 502</li>
            <li>&#9993; <a href="mailto:hana.sedajova@okayholding.eu">hana.sedajova@okayholding.eu</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="persona">
      <img src="{{ url_for('static', filename='images/sedlackova.jpg') }}">
      <div class="personainfo">
        <div class="personaname">
          <h3>ANDREA SEDLÁČKOVÁ</h3>
          <p>Personalistka pro oblast Čechy</p>
        </div>
        <div class="personacont">
          <ul>
            <li>&phone; +420 724 661 597</li>
            <li>&#9993; <a href="mailto:ge01.hr@okaycz.eu">ge01.hr@okaycz.eu</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="persona">
      <img src="{{ url_for('static', filename='images/stavova.jpg') }}">
      <div class="personainfo">
        <div class="personaname">
          <h3>LENKA ŠŤÁVOVÁ</h3>
          <p>Personalistka pro oblast Morava</p>
        </div>
        <div class="personacont">
          <ul>
            <li>&phone; +420 724 661 598</li>
            <li>&#9993; <a href="mailto:ge03.hr@okaycz.eu">ge03.hr@okaycz.eu</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="persona">
      <img src="{{ url_for('static', filename='images/pospisilova.jpg') }}">
      <div class="personainfo">
        <div class="personaname">
          <h3>RADKA POSPÍŠILOVÁ</h3>
          <p>Personalistka pro oblast Slovensko</p>
        </div>
        <div class="personacont">
          <ul>
            <li>&phone; +420 724 661 593</li>
            <li>&#9993; <a href="mailto:ge02.hr@okaycz.eu">ge02.hr@okaycz.eu</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="persona"></div> -->

  </section>