<section id="contactForm">

    <h2>Napište nám</h2>

  <form action="#" method="POST">

    <div class="formContainer"">
      <input type="text" name="name" id="name" value="" placeholder="Jméno">
      <input type="text" name="surname" id="surname" value="" placeholder="Příjmení">

      <input type="email" name="email" id="email" value="" placeholder="Email">
      <!-- <input type="file" name="file" id="file"> -->
      <textarea name="message" id="message" rows="8" placeholder="Váš vzkaz"></textarea>

      <div id="submit">
      <button class="smctabtn" type="submit"><span class="btntext">Odeslat</span></button>
    </div>

  </div>

  </form>

</section>