{% include 'snippets/upbutton.html' %}

<footer>
  <div class="leftbar">
    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
  </div>

  <div class="rightbar">
    <ul class="">
      <li><a href="https://www.facebook.com/okaykariera/" target="_blank">Facebook</a></li>
      <li><a href="https://www.instagram.com/okaycz/" target="_blank">Instagram</a></li>
      <li><a href="https://www.linkedin.com/company/okay-holding" target="_blank">LinkedIn</a></li>
      <li><a href="https://www.okay.cz" target="_blank">OKAY.CZ</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
