<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>OKAY kariéra - {{ page_title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

  <nav>
      <div class="container">
        <div class="leftbar">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
        <h1>KARIÉRA</h1>
        </div>

        <div class="rightbar">
            {% include 'snippets/menuitems.html' %}
        </div>

        <div class="rightbarresp">
        <img class="respicon" src="{{ url_for('static', filename='/images/menu-icon.svg') }}">
        <div class="respmenu">
            {% include 'snippets/menuitems.html' %}
        </div>
        </div>
    </div>
  </nav>

  <script>
    $('.respicon').on('tap mouseover click', function() {
      if ($('.respmenu').css("display") == "block") {
        $('.respmenu').css("display", "none");
      } else {
        $('.respmenu').css("display", "block");
      }
    });
    $(document).on('tap click', function(evt) {
      if (!$(evt.target).hasClass('respmenu')) {
        $('.respmenu').css("display", "none");
      }
    });
    $('.respmenu').on('mouseout', function() {
      $('.respmenu').css("display", "none");
    });
  </script>