<section id="menu">

    <div class="menuitem">
        <a href="{{ url_for('mainpage', context='centrala') }}">
      <img src="{{ url_for('static', filename='images/menuimg1.png') }}">
      <div class="menuitemtext">
        <p>{{ loc.menu_items.centrala[lang] }}</p>
      </div>
    </a>
    </div>

    <div class="menuitem">
        <a href="{{ url_for('mainpage', context='prodejny') }}">
      <img src="{{ url_for('static', filename='images/menuimg2.png') }}">
      <div class="menuitemtext">
        <p>{{ loc.menu_items.prodejny[lang] }}</p>
      </div>
    </a>
    </div>

    <div class="menuitem">
        <a href="{{ url_for('mainpage', context='sklady') }}">
      <img src="{{ url_for('static', filename='images/menuimg3.png') }}">
      <div class="menuitemtext">
        <p>{{ loc.menu_items.sklady[lang] }}</p>
      </div>
    </a>
    </div>

    <div class="menuitem">
        <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/menuimg4.png') }}">
      <div class="menuitemtext">
        <p>{{ loc.menu_items.kontakty[lang] }}</p>
      </div>
    </a>
    </div>

</section>