<section id="menu">

    <div class="menuitem">
        <a href="{{ url_for('hq') }}">
      <img src="{{ url_for('static', filename='images/menuimg1.png') }}">
      <div class="menuitemtext">
        <p>CENTRÁLA</p>
      </div>
    </a>
    </div>

    <div class="menuitem">
        <a href="{{ url_for('stores') }}">
      <img src="{{ url_for('static', filename='images/menuimg2.png') }}">
      <div class="menuitemtext">
        <p>PRODEJNY</p>
      </div>
    </a>
    </div>

    <div class="menuitem">
        <a href="{{ url_for('warehouses') }}">
      <img src="{{ url_for('static', filename='images/menuimg3.png') }}">
      <div class="menuitemtext">
        <p>SKLADY</p>
      </div>
    </a>
    </div>

    <div class="menuitem">
        <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/menuimg4.png') }}">
      <div class="menuitemtext">
        <p>KONTAKTY</p>
      </div>
    </a>
    </div>

</section>